@model List<UltraCryptoFolio.Models.Transaction>

@{
    ViewData["Title"] = "Home Page";
}

<h1>Transactions</h1>

<div class="btn-group" role="group">
    <a class="btn btn-primary" asp-action="NewInvestment" style="background-color:#59c7a6; border:1px solid white">Input new Investment</a>
    <a class="btn btn-primary" asp-action="NewTrade" style="background-color:#59c7a6; border:1px solid white">Input new Trade</a>
    <a class="btn btn-primary" asp-action="NewSpend" style="background-color:#59c7a6; border:1px solid white">Input new Spend</a>
    <a class="btn btn-primary" asp-action="NewDivestment" style="background-color:#59c7a6; border:1px solid white">Input new Divestment</a>
    <a class="btn btn-primary" asp-action="NewDividend" style="background-color:#59c7a6; border:1px solid white">Input new Dividend</a>
</div>
<table class="table table-responsive">
    <thead>
        <tr>
            <th>Transaction Type</th>
            <th>Date</th>
            <th>Spending currency</th>
            <th>Amount spent</th>
            <th>Receiving currency</th>
            <th>Amount received</th>
            <th>Valuation</th>
            <th></th>
        </tr>
    </thead>
    @foreach (var transaction in Model)
    {
        <tr>
            <td>@transaction.TransactionType</td>
            <td>@transaction.DateTime.Date.ToString("yyyy-MM-dd")</td>
            @switch (transaction.TransactionType)
            {
                case UltraCryptoFolio.Models.TransactionType.Investment:
                    var investment = (UltraCryptoFolio.Models.Investment)transaction;
                    <td>@investment.SpendingCurrency</td>
                    <td>@investment.AmountSpent</td>
                    <td>@investment.ReceivingCurrency</td>
                    <td>@investment.AmountReceived.ToString("N0")</td>
                    <td>@investment.TransactionWorth</td>
                    break;
                case UltraCryptoFolio.Models.TransactionType.Divestment:
                    var divestment = (UltraCryptoFolio.Models.Divestment)transaction;
                    <td>@divestment.SpendingCurrency</td>
                    <td>@divestment.AmountSpent.ToString("N0")</td>
                    <td>@divestment.ReceivingCurrency</td>
                    <td>@divestment.AmountReceived</td>
                    <td>@divestment.TransactionWorth</td>
                    break;
                case UltraCryptoFolio.Models.TransactionType.Spend:
                    var spend = (UltraCryptoFolio.Models.Spend)transaction;
                    <td>@spend.SpendingCurrency</td>
                    <td>@spend.AmountSpent.ToString("N0")</td>
                    <td>-</td>
                    <td>-</td>
                    <td>@spend.TransactionWorth</td>
                    break;
                case UltraCryptoFolio.Models.TransactionType.Trade:
                    var trade = (UltraCryptoFolio.Models.Trade)transaction;
                    <td>@trade.SpendingCurrency</td>
                    <td>@trade.AmountSpent.ToString("N0")</td>
                    <td>@trade.ReceivingCurrency</td>
                    <td>@trade.AmountReceived.ToString("N0")</td>
                    <td>@trade.TransactionWorth</td>
                    break;
                case UltraCryptoFolio.Models.TransactionType.Dividend:
                    var dividend = (UltraCryptoFolio.Models.Dividend)transaction;
                    <td>-</td>
                    <td>-</td>
                    <td>@dividend.ReceivingCurrency</td>
                    <td>@dividend.AmountReceived.ToString("N0")</td>
                    <td>@dividend.TransactionWorth</td>
                    break;
                default:
                    break;
            }
            <td><a asp-action="Delete/@transaction.Id" >Delete</a></td>
        </tr>
    }
</table>