@model IEnumerable<UltraCryptoFolio.Models.ViewModels.TransactionViewModel>

@{
    ViewData["Title"] = "Transactions";
}

<h1>Transactions</h1>

<form asp-action="Index">
    <table class="table table-hover">
        <thead>
            <partial name="_TransactionsTableHeadPartial" model="new TransactionViewModel()" />
        </thead>
        <tbody>
            <partial name="_CreateNewTransactionPartial" model="new TransactionViewModel()" />
            @if (Model != null)
            {
                @foreach (var transaction in Model)
                {
                    <tr>
                        <td>@transaction.DateTime</td>
                        <td>@transaction.SpentCurrency</td>
                        <td>@transaction.SpentCurrencyPrice</td>
                        <td>@transaction.AmountSpent</td>
                        <td>@transaction.ReceivedCurrency</td>
                        <td>@transaction.ReceivedCurrencyPrice</td>
                        <td>@transaction.AmountReceived</td>
                        <td>@transaction.Fee</td>
                        <td></td>
                    </tr>
                }
            }
        </tbody>
    </table>
</form>