@model UltraCryptoFolio.Models.Portfolio

@{
    ViewData["Title"] = "Index";
}

<h2>Portfolio</h2>

<table class="table">
    <thead>
        <tr>
            <th>Currency</th>
            <th>Amount (in sathosi or tokens)</th>
            <th>Value (@Model.MonetaryCurrency)</th>
            <th>% holdings</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var value in Model.CryptoValues)
        {
            <tr>
                <td>@value.CryptoCurrency</td>
                <td>@value.Amount.ToString("N0")</td>
                <td>@value.MonetaryValue</td>
                <td>@Model.GetPercentHoldings(value.CryptoCurrency) %</td>
            </tr>
        }
    </tbody>
</table>

<table class="table">
    <thead>
        <tr>
            <th>Indicator</th>
            <th>Value (@Model.MonetaryCurrency)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Total current value:</td>
            <td>@Model.TotalCryptoValue</td>
        </tr>
        <tr>
            <td>Total investment:</td>
            <td>@Model.TotalMonetaryValue</td>
        </tr>
        <tr>
            <td>Profit/loss:</td>
            @if (Model.TotalProfit > 0)
            {
                <td style="color:green">@Model.TotalProfit</td>
            }
            else
            {
                <td style="color:darkred">@Model.TotalProfit</td>
            }
        </tr>
    </tbody>
</table>
