@model UltraCryptoFolio.Models.Portfolio

@{
    ViewData["Title"] = "Index";
}

<h2>Portfolio</h2>
<div class="alert alert-warning">
    <a href="#" class="close" data-dismiss="alert">&times;</a>
    <strong>Warning!</strong> Be sure to export your data if you don't want to lose it.
</div>
<div>
    <a class="btn btn-primary" asp-action="ExportPortfolio">Export</a>
    <a class="btn btn-primary" asp-action="ImportPortfolio">Import</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Currency</th>
            <th>Amount (in sathosi or tokens)</th>
            <th>Value (@Model.MonetaryCurrency)</th>
            <th>Invested</th>
            <th>Divested</th>
            <th>Profit</th>
            <th>Spent</th>
            <th>Dividends</th>
            <th>% Growth</th>
            <th>% Holdings</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var value in Model.CryptoValues)
        {
            <tr>
                <td>@value.CryptoCurrency</td>
                <td>@value.Amount.ToString("N0")</td>
                <td>@value.MonetaryValue</td>
                <td>@value.AmountInvested</td>
                <td>@value.AmountDivested</td>
                <td>@value.CurrentProfit</td>
                <td>
                    @value.AmountSpent
                </td>
                <td>@value.DividendsReceived</td>
                @{
                    var growth = Model.GetPercentGrowth(value.CryptoCurrency);
                    if (growth == Decimal.MaxValue)
                    {
                        <td>inf %</td>
                    }
                    else
                    {
                        <td>@growth  %</td>
                    }
                }
                <td>@Model.GetPercentHoldings(value.CryptoCurrency) %</td>
            </tr>
        }
    </tbody>
</table>

<table class="table">
    <thead>
        <tr>
            <th>Indicator</th>
            <th>Value (@Model.MonetaryCurrency)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Total Crypto value:</td>
            <td>@Model.GetTotalCryptoValue()</td>
        </tr>
        <tr>
            <td>Total cash investment:</td>
            <td>@Model.GetTotalMonetaryInvestment()</td>
        </tr>
        <tr>
            <td>Profit/loss:</td>
            @{
                var totalProfit = Model.GetTotalValue();

                if (totalProfit > 0)
                {
                    <td style="color:green">@totalProfit</td>
                }
                else
                {
                    <td style="color:darkred">@totalProfit</td>
                }
            }
        </tr>
    </tbody>
</table>
